@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.addTask {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin:0 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}


.task {
    cursor: move;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;

    &:hover {
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
        border-color: rgba(162, 179, 207, .2) !important;
    }

    display: flex;
    justify-content: center;
}


.column {
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.task-list {
    min-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.task-card {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="text"]::placeholder {
    color: #888;
}

.cdk-drag-preview {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.container{
    width: 1000px;
}

.list-container{
    display: flex;
    justify-content: space-between;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}